.Rproj.user
.Rhistory
.RData
rsconnect
.DS_Store
ohi-global_draft
ohi-global_eez2015.Rdata
ohi-global_eez2012.Rdata
ohi-global_eez2013.Rdata
ohi-global_eez2014.Rdata
ohi-global_eez2016.Rdata
ohi-global_draft_remote_sha.txt
